@media (max-width: 1600px) {
  /*------------------------------------------------------------- header*/
  /*------------------------------------------------------------- index*/
  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
  /*------------------------------------------------------------- footer*/
}
@media (max-width: 1366px) {
  /*------------------------------------------------------------- header*/
  /*------------------------------------------------------------- index*/
  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
  /*------------------------------------------------------------- footer*/
}
@media (max-width: 80em) {
  .d-xl-none {
    display: none;
  }
  .d-xl-block {
    display: block;
  }
  .d-xl-flex {
    display: flex;
  }
  .d-xl-grid {
    display: grid;
  }
  /*------------------------------------------------------------- header*/
  /*------------------------------------------------------------- index*/
  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
  /*------------------------------------------------------------- footer*/
}
@media (max-width: 64em) {
  .d-lg-none {
    display: none;
  }
  .d-lg-block {
    display: block;
  }
  .d-lg-flex {
    display: flex;
  }
  .d-lg-grid {
    display: grid;
  }
  /*------------------------------------------------------------- header*/
  /*------------------------------------------------------------- index*/
  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
  /*------------------------------------------------------------- footer*/
}
@media (max-width: 48em) {
  .d-md-none {
    display: none;
  }
  .d-md-block {
    display: block;
  }
  .d-md-flex {
    display: flex;
  }
  .d-md-grid {
    display: grid;
  }
  /*------------------------------------------------------------- header*/
  /*------------------------------------------------------------- index*/
  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
  /*------------------------------------------------------------- footer*/
}
@media (max-width: 40em) {
  .d-sm-none {
    display: none;
  }
  .d-sm-block {
    display: block;
  }
  .d-sm-flex {
    display: flex;
  }
  .d-sm-grid {
    display: grid;
  }
  /*------------------------------------------------------------- header*/
  /*------------------------------------------------------------- index*/
  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
  /*------------------------------------------------------------- footer*/
}
@media (max-width: 25em) {
  /*------------------------------------------------------------- header*/
  /*------------------------------------------------------------- index*/
  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
  /*------------------------------------------------------------- footer*/
}
@media (max-width: 20em) {
  /*------------------------------------------------------------- header*/
  /*------------------------------------------------------------- index*/
  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
  /*------------------------------------------------------------- footer*/
}

/*# sourceMappingURL=responsive.css.map */
