@media (max-width: 1600px) {
  /*------------------------------------------------------------- header*/
  .navbar-container {
    font-size: 12px;
  }

  /*------------------------------------------------------------- index*/
  .w-wrapper {
    padding-left: 20px;
    padding-right: 20px;
  }

  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
  /*------------------------------------------------------------- footer*/
}
@media (max-width: 1366px) {
  /*------------------------------------------------------------- header*/
  .navbar-container {
    font-size: 11px;
  }

  /*------------------------------------------------------------- index*/
  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
  .emagazine-primary__thumb .image-wrapper {
    padding-bottom: 120%;
  }
  .emagazine-primary__text {
    padding: 20px;
  }

  .emagazine-secondary {
    padding: 20px;
  }
  .emagazine-secondary__right blockquote > p {
    font-size: 20px !important;
  }

  /*------------------------------------------------------------- footer*/
}
@media (max-width: 80em) {
  .d-xl-none {
    display: none;
  }

  .d-xl-block {
    display: block;
  }

  .d-xl-flex {
    display: flex;
  }

  .d-xl-grid {
    display: grid;
  }

  /*------------------------------------------------------------- header*/
  .navbar-container {
    font-size: 10px;
  }

  /*------------------------------------------------------------- index*/
  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
  .detail-content {
    padding-left: 2rem;
  }

  /*------------------------------------------------------------- footer*/
}
@media (max-width: 64em) {
  .d-lg-none {
    display: none;
  }

  .d-lg-block {
    display: block;
  }

  .d-lg-flex {
    display: flex;
  }

  .d-lg-grid {
    display: grid;
  }

  /*------------------------------------------------------------- header*/
  /*------------------------------------------------------------- index*/
  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
  /*------------------------------------------------------------- footer*/
}
@media (max-width: 61em) {
  .d-md-none {
    display: none;
  }

  .d-md-block {
    display: block;
  }

  .d-md-flex {
    display: flex;
  }

  .d-md-grid {
    display: grid;
  }

  /*------------------------------------------------------------- header*/
  /*------------------------------------------------------------- index*/
  .section-primary__container {
    grid-template-columns: 250px 1fr;
  }
  .section-primary__right {
    display: none;
  }

  .section-secondary__container {
    display: block;
  }
  .section-secondary__left {
    padding-right: 0;
    border-right: none;
  }
  .section-secondary__left .article {
    padding: 20px 0;
  }
  .section-secondary__left .article:first-child {
    padding-top: 0;
  }
  .section-secondary__right {
    padding: 20px 0 0 0;
  }
  .section-secondary__right .articles__small {
    flex: 1;
  }
  .section-secondary__rightBox .articles__large {
    width: 100%;
    flex: 1;
  }

  .section-tertiary__container {
    display: block;
  }
  .section-tertiary__right {
    display: none;
  }

  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
  .detail-content {
    padding-left: 0;
  }

  /*------------------------------------------------------------- footer*/
  .footer-top {
    flex-direction: column;
    gap: 20px;
  }
  .footer-logo {
    text-align: center;
  }
}
@media (max-width: 40em) {
  .d-sm-none {
    display: none;
  }

  .d-sm-block {
    display: block;
  }

  .d-sm-flex {
    display: flex;
  }

  .d-sm-grid {
    display: grid;
  }

  .w-wrapper {
    padding-left: 15px;
    padding-right: 15px;
  }

  /*------------------------------------------------------------- header*/
  .header-mb .logo img {
    height: 40px;
  }

  /*------------------------------------------------------------- index*/
  .ads-center {
    background-color: #fff;
  }

  .section-tertiary__left .articles__large {
    padding: 0 0 15px 0;
    margin: 0 0 15px 0;
    border-right: none;
    border-bottom: 1px solid #e5e5e5;
  }
  .section-tertiary__left .articles__small {
    max-width: 100%;
  }
  .section-tertiary__left .swiper {
    height: 300px;
  }

  .box-media .articles__small {
    max-height: 368px;
    overflow-y: scroll;
    /* width */
    /* Track */
    /* Handle */
    /* Handle on hover */
  }
  .box-media .articles__small::-webkit-scrollbar {
    width: 0.5rem;
  }
  .box-media .articles__small::-webkit-scrollbar-track {
    background: transparent;
  }
  .box-media .articles__small::-webkit-scrollbar-thumb {
    background: #ffe0b2;
    border-radius: 1rem;
  }
  .box-media .articles__small::-webkit-scrollbar-thumb:hover {
    background: #ffe0b2;
  }
  .box-media .articles__small .article:first-child {
    padding-top: 0;
  }
  .box-media .articles__small .article:last-child {
    border-bottom: none;
  }

  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
  .detail-primary .articles-primary-mb .article__title {
    font-size: 16px;
    letter-spacing: normal;
  }
  .detail-primary .detail-related-news .articles {
    gap: 10px;
  }
  .detail-primary .detail-other-news .article:first-child {
    padding-top: 0;
  }

  .emagazine-primary {
    display: flex;
    flex-direction: column;
  }
  .emagazine-primary__text {
    position: relative;
    top: auto;
    right: auto;
    transform: unset;
  }
  .emagazine-primary__thumb .image-wrapper {
    padding-bottom: 60%;
  }
  .emagazine-primary__cate {
    border-bottom: 2px solid #e40c14;
    margin-bottom: 10px;
    padding-bottom: 10px;
    font-size: 20px;
  }

  .emagazine-secondary {
    padding-left: 15px;
    padding-right: 15px;
  }
  .emagazine-secondary__right figure.expNoEdit.right,
.emagazine-secondary__right figure.expNoEdit.left {
    text-align: left;
    max-width: 100%;
    float: unset;
    width: 100% !important;
    margin-left: 0 !important;
  }
  .emagazine-secondary__right blockquote.right,
.emagazine-secondary__right blockquote.left {
    float: unset;
    width: auto !important;
    margin-left: 0 !important;
    max-width: 100%;
    margin-bottom: 20px;
    margin-right: 0 !important;
  }
  .emagazine-secondary__right blockquote > p {
    font-weight: 400;
    line-height: 130% !important;
  }
  .emagazine-secondary__right h2,
.emagazine-secondary__right h3,
.emagazine-secondary__right h4,
.emagazine-secondary__right h5,
.emagazine-secondary__right h6 {
    font-size: 24px;
  }

  /*------------------------------------------------------------- footer*/
  .footer-content {
    grid-template-columns: 1fr;
    grid-gap: 15px;
  }
}
@media (max-width: 25em) {
  /*------------------------------------------------------------- header*/
  /*------------------------------------------------------------- index*/
  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
  /*------------------------------------------------------------- footer*/
}
@media (max-width: 20em) {
  /*------------------------------------------------------------- header*/
  /*------------------------------------------------------------- index*/
  /*------------------------------------------------------------- cate*/
  /*------------------------------------------------------------- detail*/
  /*------------------------------------------------------------- footer*/
}

/*# sourceMappingURL=responsive.css.map */
