.footer {
    background-color: #f6f6f6;
    &-logo {
        img {
            height: 80px;
            width: auto;
        }
    }
    &-info {
        &-right {
            display: flex;
            flex-direction: column;
            justify-content: space-between;
        }
    }
}
.footer-social {
    .item + .item {
        margin-left: 10px;
    }
    .item .link {
        width: 28px;
        height: 28px;
        border-radius: 50%;
        background-color: #fff;
    }
}
.footer-content {
    p {
        margin-bottom: 10px;
    }
}
.register-email {
    margin-top: 20px;
    max-width: 500px;
    margin-left: auto;
    &__input {
        background-color: #f7f7f7;
    }
    &__group {
        position: relative;
    }
    &__icon {
        position: absolute;
        left: 0.5rem;
        top: 50%;
        transform: translateY(-50%);
        display: flex;
        align-items: center;
        justify-content: center;
    }
    &__input {
        border: 1px solid #e5e5e5;
        height: 1.875rem;
        border-radius: 999px;
        width: 100%;
        padding: 8px 80px 8px 28px;
        font-size: 0.875rem;

        &:focus {
            border-color: #152764;
        }
    }
    &__btn {
        background-color: #eb242c;
        color: #fff;
        border-radius: 999px;
        padding: 0.5rem 1rem;
        position: absolute;
        right: 0;
        top: 50%;
        transform: translateY(-50%);
        font-size: 0.75rem;
        cursor: pointer;
    }
}
